@using personalised_concierge_m1.Models.Entities.OtherServices

@{
    ViewData["Title"] = "Transport ";
    var transports = (ViewData["transports"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
    <style>
        .form-center {
            width: 60%;
            margin: 0 auto;
        }

        .submitbutton {
            background-color: #e7e7e7;
            color: black;
            border: 2px solid #e7e7e7;
            width: 40%;
            padding: 6px 12px;
            float: right;
        }

            .submitbutton:hover {
                background-color: #e7e7e7;
                opacity: 0.8;
            }
    </style>
</head>
<body>
    <h4 style="color:purple">
        <b>Succes:</b>    @ViewBag.status <br />

    </h4>
    <div class="form-center">
        <form action="addcompany" method="post">
            <h4 style="text-align: left; padding-bottom: 20px; padding-top: 15px;">Add a new transportation</h4>
            <div class="form-group">
                <label>Company</label>
                <input type="text" name="company" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>

                <textarea type="text" id="description" name="description" class="form-control" rows="4" cols="50">
 
                </textarea>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="tel" name="phonenum" class="form-control">
            </div>
            <div class="form-group">
                <label>Website Link</label>
                <input type="url" name="website" class="form-control">
            </div>
            <input type="submit" class="submitbutton" value="Add new row">
        </form>

    </div>

    <div class="form-center">
        <form action="addfare" method="post">
            <h4 style="text-align: left; padding-bottom: 20px; padding-top: 15px;">Add a new transportation</h4>
            <div class="form-group">
                <label>Company</label>

                <select name="transportID" class="form-control">
                    @foreach (Transportation atransport in (dynamic)transports)
                    {
                        <option value="@atransport.transport_id.ToString()">@atransport.company_name</option>
                    }
                </select>


            </div>
            <div class="form-group">
                <label>Type of Taxi</label>
                <select class="form-control" name="taxitype">
                   
                        <option value="Standard">Standard</option>
                        <option value="Limo">Limo</option>
                        <option value="Chrylsler">Chrylsler</option>
                </select>
            </div>
            <div class="form-group">
                <label>Fares Type</label>
                <input name="faretype" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Fares</label>
                <input name="fare" type="text" class="form-control">
            </div>
            <input type="submit" class="submitbutton" value="Add new fares">
        </form>
       
    </div>
    <br />
</body>
</html>