@model personalised_concierge_m1.Models.Entities.Itineraries.Itinerary

@{ ViewData["Title"] = "Index"; }

<!DOCTYPE html>
<html lang="en">
<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0">
                        <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Itinerary Events</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                    </ol>
                </nav>
                <div class="ms-panel">
                    <div class="ms-panel-header">
                        <h6>Responsive Datatable</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="table-responsive">
                            <table id="data-table-4" class="table w-100 thead-primary"></table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div class="container-fluid">
        <div div class="modal show" id="itinModal" role="dialog">
            <div class="modal-dialog mw-100 w-75 mx-auto">
                <div class="modal-content" style="max-height: 90vh; overflow-y: auto;">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Item</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <form method="get">
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table id="data-table-6" class="table w-100 thead-primary"></table>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button id="addItem" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {

            /**
             * add new item to Food Itinerary List
             */
            $("#addItem").button().click(function () {
                var $ele = $('input[name="itemRow"]:checked');
                if ($ele.length) {
                    // get values from select item in modal dialog
                    var $tds = $ele.closest('tr').find('td');
                    var id = $tds.eq(0).text();
                    var name = $tds.eq(1).text();
                    var loc = $tds.eq(2).text();
                    var bud = $tds.eq(3).find('input[type="number"]').val();

                    // create new a new row and required cells
                    var table = document.getElementById("data-table-4");
                    var row = table.insertRow(1);
                    var itemID = row.insertCell(0);
                    var eventName = row.insertCell(1);
                    var location = row.insertCell(2);
                    var date = row.insertCell(3);
                    var budget = row.insertCell(4);
                    var deleteButton = row.insertCell(5);

                    // Populate values to cells
                    itemID.innerHTML = id;
                    eventName.innerHTML = '<a href ="itinerary/testing">' + name + '</a>';
                    location.innerHTML = loc;
                    date.innerHTML = "@DateTime.Today.ToString("yyyy/MM/dd")";
                    budget.innerHTML = "$" + bud.toString()
                    deleteButton.innerHTML = "<a id='deleteButton' onclick='deleteItem(this)'><i class='far fa-trash-alt ms-text-danger'></i></a>";
                }
                else {
                    // no row selected
                    alert("Select a row first");
                }
            });
        });

        /**
         * delete item from food Itinerary List
         *
         * @@param r to get indev of row
         */
        function deleteItem(r) {
            var table = document.getElementById("data-table-4");
            var rowIndex = r.parentNode.parentNode.rowIndex;
            table.deleteRow(rowIndex);
        }
    </script>
</body>
</html >
