@model personalised_concierge_m1.Models.Entities.Attraction.Attraction
@{
    ViewData["Title"] = "ViewDetails";
}

<h1>Details</h1>
<div>
    <h4>@Html.DisplayFor(model => model.attractionName)</h4>
    <hr />
 
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>