@model personalised_concierge_m1.Models.Entities.Attraction.Attraction
@{
    ViewData["Title"] = "ViewDetails";
}

<h1>Details</h1>
<ul class="SG">
    <li class="sgLi">
    <div class="box">
        <p><img src = "@Html.DisplayFor(model => model.attractionImage)" width="250" height="150"/></p>
        <h4>@Html.DisplayFor(model => model.attractionName)</h4>
        <h6 style="text-align: left;">@Html.DisplayFor(model => model.attractionDescription)</h6>
        <button class="custom-btn">Reviews</button>
        @* <button class="custom-btn">Directions</button> *@
         @using (Html.BeginForm("Index", "Navigation"))
                                {

                                    <input type="submit" value="Direction" class="custom-btn"/>
                                }
    </div>
    </li>
</ul>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<link rel="stylesheet" type="text/css" href="./style.css">
    <style>
        /*SG = style grid*/
    .SG{
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .SG .sgLi{
      min-width: 24%;
      margin: 2% .35%;
      display: inline-flex;
      box-shadow: 0 2px 4px rgba(0,0,0, .2);
    }
    .SG .sgLi:hover{
      box-shadow:0 5px 10px rgba(0,0,0,.15);}

    .custom-btn {
      appearance: none;
      background-color: #FAFBFC;
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
      box-sizing: border-box;
      color: #24292E;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: 6px 16px;
      position: relative;
      transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;
      margin-bottom: 10px;
    }

    .custom-btn:hover {
      background-color: #F3F4F6;
      text-decoration: none;
      transition-duration: 0.1s;
    }

    .custom-btn:disabled {
      background-color: #FAFBFC;
      border-color: rgba(27, 31, 35, 0.15);
      color: #959DA5;
      cursor: default;
    }

    .custom-btn:active {
      background-color: #EDEFF2;
      box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
      transition: none 0s;
    }

    .custom-btn:focus {
      outline: 1px transparent;
    }

    .custom-btn:before {
      display: none;
    }

    .custom-btn:-webkit-details-marker {
      display: none;
    }
    </style>